/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
  --main-text-color: #333;
  --main-blue-color: #0061e0; 
  --background-color: #effbff;
  --white: #fff;
  --green: #4caf50;
  --red: #f44335;
  --animation-speed: 0.7s;
  --normal: 400;
  --semi-bold: 550;
  --bold: 700;
}

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and background styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none; /* Standard property */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  overflow-x: hidden;
}

.white-background {
  background: linear-gradient(45deg, var(--white) 0%, #f2f2f2 70%, var(--white) 100%);
}

/* Top navbar */
.top-navbar {
  background-color: var(--main-blue-color);
  width: 100vw;
  height: 8vh;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.top-navbar .logo-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navbar .logo-heading .logo-image {
  width: 60px;
  height: auto;
}

/* Top navbar links */
.top-navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1.75rem;
}

.top-navbar .nav-links .nav-link{
  color: var(--white);
  text-decoration: none;
  font-size: 1.65rem;
  font-weight: var(--semi-bold);
  letter-spacing: 0.05rem;
}

.top-navbar .nav-links .nav-link:hover {
  text-decoration: underline;
}

/* Game section */
.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92vh;
  padding-bottom: 2rem;
  position: relative;
}

.game-section .game-navbar {
  background-color: var(--main-blue-color);
  padding: 1.25rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  border-radius: 1.25rem 1.25rem 0 0;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.game-section .game-navbar .scoreboard {
  display: flex;
  list-style: none;
  gap: 2rem;
}

/* Progress */
.game-section .game-navbar .scoreboard .progress-wrapper {
  display: flex;
  flex-direction: column;
}

.game-section .game-navbar .scoreboard .progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.game-section .game-navbar .scoreboard .progress-bar {
  height: 0.75rem;
  background-color: var(--green);
  width: 0;
  transition: width 0.5s ease-out;
}

/* Scoreboard items */
.game-section .game-navbar .scoreboard .scoreboard-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: var(--semi-bold);
  letter-spacing: 0.075rem;
}

.game-section .game-navbar .scoreboard .scoreboard-item .game-icon {
  width: 40px;
  height: auto;
}

.game-section .game-navbar .scoreboard .scoreboard-item .game-heading {
  font-size: 1.75rem;
  font-weight: var(--semi-bold);
}

/* Confetti */
.game-section .confetti-container {
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

/* Confetti */
.game-section .confetti-container .confetti {
  position: absolute;
  width: 25vw; 
  height: 25vw; 
}

.game-section .confetti-container #left-confetti {
  top: 10%; 
  left: 20%;
  animation: pop-left 0.7s ease-out forwards;
}

.game-section .confetti-container #right-confetti {
  top: 10%; 
  right: 20%;
  animation: pop-right 0.7s ease-out forwards;
}

/* Confetti Animation */
@keyframes pop-left {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200px) translateY(-100px);
    opacity: 0;
  }
}

@keyframes pop-right {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200px) translateY(-100px);
    opacity: 0;
  }
}

/* Container */
.game-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 3.5rem 4rem;
  width: 60%;
  height: 70%;
  background: var(--white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-section .container .question {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
  color: var(--main-text-color);
  font-weight: var(--normal);
  display: block;
  animation: questionMovement 6s infinite;
}

@keyframes questionMovement {
  0% { 
      transform: scale(1) rotate(0deg); 
  }
  25% { 
      transform: scale(1.25) rotate(3deg); 
  }
  50% {
    transform: scale(1) rotate(0deg); 
  }
  75% {
    transform: scale(1.25) rotate(-3deg); 
  }
  100% { 
      transform: scale(1) rotate(0deg); 
  }
}

/* Input styling */
.main-input {
  font-family: "Poppins", sans-serif;
  font-weight: var(--normal);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.25rem;
  border: 2px solid #aaa;
  font-size: 1.8rem;
  border-radius: 0.75rem;
  background: var(--white);
  transition: border-color ease 0.5s, box-shadow 0.5s ease;
}

.main-input:focus {
  border-color: var(--main-blue-color);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Removes input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Text section */
.text-section {
  margin-bottom: 3rem;
  padding: 0 1.25rem;
  width: 80%;
}

.text-section .border {
  border: 12px var(--main-text-color) double;
  padding: 0 1.5rem;
  text-align: justify;
}

.top-margin {
  margin-top: 3rem;
}

.text-section .text-heading-large {
  font-size: 3rem;
  margin-bottom: 3rem;
  padding: 0.4rem;
  text-align: center;
  border-top: 5px solid var(--main-text-color);
  border-bottom: 5px solid var(--main-text-color);
  font-weight: var(--semi-bold);
  letter-spacing: 0.1rem;
}

.text-section .text-p {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: var(--semi-bold);
  padding: 0.75rem 0.25rem;
}

/* Why section */
.why-section .border .text-p {
  padding: 0.75rem 0.25rem;
}

.why-section .border .bold {
  font-weight: var(--bold);
  font-style: italic;
  letter-spacing: 0.5px;
}

/* Learn section styles */
.m {
  margin-top: 2rem;
}

.learn-section .text-heading-medium {
  text-align: center;
  margin: 1.5rem auto;
  font-size: 2.1rem;
  font-weight: var(--semi-bold);
  border-top: 3px solid var(--main-text-color);
  border-bottom: 3px solid var(--main-text-color);
  padding: 0.25rem;
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1001; 
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center; 
  justify-content: center;
}

.modal .modal-content {
  background-color: var(--white);
  padding: 2.25rem;
  width: 50%;
  line-height: 1.4;
  position: relative;
  border-radius: 1rem;
  font-size: 1.20rem;
  font-weight: var(--normal);
  text-align: justify;
}

.modal .modal-content .modal-text {
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.modal .modal-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  top: 0;
}

/* Close */
.close {
  color: #969696;
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1.75rem;
  font-weight: var(--bold);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Button classes */
.btn {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-blue-color);
  color: var(--white);
  padding: 1rem 2rem;
  border: none;
  width: 100%;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: var(--normal);
}

.small-btn {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--main-blue-color);
  color: var(--white);
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.65rem;
  font-weight: var(--normal);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.small-btn:hover {
  opacity: 0.9;
}